name: Annotate PR

on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  annotate-pr:
    runs-on: ubuntu-latest
    # if: github.repository == 'facebook/react-native' temp
    steps:
      - name: Check out main branch
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: ./.github/actions/setup-node
      - name: Run yarn install
        uses: ./.github/actions/yarn-install
      - name: Run diff-js-api-changes
        id: diff-js-api
        uses: ./.github/actions/diff-js-api-changes
      # - name: Check PR body
        # todo
        # uses: ./.github/actions/check-pr-body
      # - name: Branch Targetting
        # todo
        # uses: ./.github/actions/check-branch-target
      - name: Post PR comment
        uses: actions/github-script@v8
        env:
          API_CHANGES_MESSAGE: ${{ steps.diff-js-api.outputs.message }}
        with:
          script: |
            const postPRComment = require('./.github/workflow-scripts/postPRComment.js');
            await postPRComment(github, context, {
              messages: [
                process.env.API_CHANGES_MESSAGE,
              ],
            });
